html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    margin: 0;
    border-top: 2px solid #4fc08d;
    background-color: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 4em;
    color: #2c3e50;
}

h4, a {
    font-weight: 400;
    font-size: 15px;
    color: #7f8c8d;
}

p {
    word-spacing: 0.05em;
}

a {
    text-decoration: none;
    color: #34495e;
}


a.button {
    display: inline-block;
    width: 280px;
    margin: 0.5em;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-weight: 700;
    color: #fff;
    background-color: #4fc08d;
    border-bottom: 2px solid #3aa373;
    padding: 12px 14px;
    border-radius: 4px;
    transition: all 0.15s ease;
}

a.button:hover {
    background-color: #5dc596;
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
}

#social {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    margin: 1.5em auto;
}

#social li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 60px 0;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    min-height: 80px;
    text-align: center;
}

.list-container {

  border: 1px solid #eee;
  border-radius: 2px;
  background: #fff;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;

  -webkit-align-items: center;
          align-items: center;  

  -webkit-justify-content: space-around;
          justify-content: space-around;

}


.spinner-list {

/*  width: 200px;
  height: 150px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;*/



  display: -webkit-flex;
  display: flex;

  webkit-flex: 0 1 auto;
         flex: 0 1 auto;

  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  
  width: 200px;
  height: 200px;
  webkit-align-items: center;
         align-items: center;
  webkit-justify-content: center;
         justify-content: center;          
 
}

@media screen and(max-width: 700px) {
    html,
    body {
        margin: 0;
    }
    #wrapper {
        width: 100%;
    }
}